@if (User == null || User.Identity == null || User.Identity.IsAuthenticated)  
{  
    <form method="post" asp-page="/Account/Logout">  
        <input class="bg-red-500 text-white px-4 py-2 rounded-lg font-semibold hover:bg-red-900" type="submit" value="Sign Out" />  
    </form>  
}  
else  
{  
    <a class="bg-[#0a0e27] text-white px-4 py-2 rounded-lg font-semibold hover:bg-[#06081c]" asp-page="/Account/Login">Sign In</a>  
}
